.container#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card#login-card {
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto; /* Add this line to center the card horizontally */
}

.card#login-card h2 {
    margin-bottom: 20px;
    text-align: center;
}

.card#login-card input[type="text"],
.card#login-card input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.card#login-card button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.card#login-card button:hover {
    background-color: #45a049;
}